body{
    background-color: silver;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  /* Change the link color on hover */
  li a:hover {
    background-color: #555;
    color: white;
  }
  #macskaskep{
    margin-right: 5%;
    width: 25%;
    height: 25%;
    float: right;
    border: 1px solid black;
    box-shadow: 0 0 15 gray;
  }
  #video{
    width: 60%;
    height: 60%;
  }